body{
    background-color: #f5f5f5;
    margin: 0;
    padding: 0;
    width: 100%;
}
table {
    border-collapse: collapse;
    width: 100%;
}

th, td {
    background-color: #f5f5f5;
    border: 1px solid #0B2559;
    padding: 10px 0px;
    text-align: center;
    font-family: Comfortaa;
    font-weight: bolder;
    color: black;
    width: 15%;
    height: 35px;
}
th {
    background-color: rgb(42, 82, 190);
    color: white;
}
.date, .dayOfWeek {
    background-color:rgb(224, 233, 255);
}
.day {
    width: 25%;
}