<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title th:text="|${name}|"></title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Comfortaa:wght@300;600&display=swap" rel="stylesheet">
    <link th:href="@{/styles/css/editSchedule.css}" rel="stylesheet">
    <link th:href="@{/styles/css/header.css}" rel="stylesheet">
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
</head>
<body>
<div th:replace="header :: header"></div>
<div class="main">
    <div class="deleteClass">
        <label class="deleteClassLabel"> Delete class</label>
        <form name="delete" th:action="@{/editSchedule/delete}" method="post">
            
            <select name="day">
                <option th:each="day : ${days}" th:value="${day}" th:text="${day}"/>
            </select>
            <select name="time">
                <option th:each="times : ${time}" th:value="${times}" th:text="${times.getTimeSlot()}"/>
            </select>
            <select name="groupName">
                <option th:each="group : ${groups}" th:value="${group.name}" th:text="${group.name}"/>
            </select>
            <select name="courseName">
                <option th:each="course : ${courses}" th:value="${course.name}" th:text="${course.name}"/>
            </select>
            <input type="submit" value="Delete">
        </form>
    </div>
    <div class="addClass">
        <label class="addClassLabel"> Add class</label>
        <form name="add" th:action="@{/editSchedule/add}" method="post">
            <select name="day">
                <option th:each="day : ${days}" th:value="${day}" th:text="${day}"/>
            </select>
            <select name="time">
                <option th:each="times : ${time}" th:value="${times}" th:text="${times.getTimeSlot()}"/>
            </select>
            <select name="groupName">
                <option th:each="group : ${groups}" th:value="${group.name}" th:text="${group.name}"/>
            </select>
            <select name="courseName">
                <option th:each="course : ${courses}" th:value="${course.name}" th:text="${course.name}"/>
            </select>
            <select name="teacherFirstname">
                <option th:each="teacher : ${teachers}" th:value="${teacher.firstName}" th:text="${teacher.firstName}"/>
            </select>
            <select name="teacherLastname">
                <option th:each="teacher : ${teachers}" th:value="${teacher.lastName}" th:text="${teacher.lastName}"/>
            </select>
            <input type="submit" value="Add">
        </form>
    </div>
</div>
<script type="text/javascript" th:src="@{/js/schedule.js}"></script>
</body>
</html>